
video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.5;
    object-fit: cover;
}


img.weather-icon {
    width: 80px;
    height: 80px;
    margin-left: 21px;
    padding-top: 25px;

    /* margin: 0 auto; */

}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.temp{
    display: flex;
    justify-content: space-evenly;
    margin-top: 33px;

}


.box {
    width: 1000px;
    height: 500px;
    border: 1px solid #6c757d;
    margin: auto;

}


#table{
    margin: 15% 15%;
    width: 75%;
    height: 200px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;

}

/* img.weather-icon{} */


div.day {
    width: 30%;
    margin: 8px auto auto;
}

.days {
    border: 1px solid #000;
    width: 120px;
    height: 200px;
    margin: 0 12px;
    /* margin: 0 auto; */
}

a {
    text-decoration: none;
    color: inherit;
}



div#search {
    position: relative;
    top: 25px;
    left: 700px;
    /* border: 1px solid black; */
    width:150px;
    height: 25px;
}

input#search-btn {
    /* position: relative; */
    /* top: 25px; */
    /* right: 5px; */
    width: inherit;
    height: inherit;
    background-color: inherit;
    border: none;
    /* text-decoration: underline black 1px; */
    /* text-underline-position: ; */
    border-bottom: 1px solid #6c757d;
    padding-bottom: 3px;

    
}